*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#main{
    height:100%;
    width:100%;
    background-color: black;
    position: absolute;
}
#nav{
    height:10%;
    width:100%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:row;
}
#nav h1{
   font-size: 3.6vw;
   margin-right: 200px;
   cursor: pointer;
   margin-left:60px ;
   color: orangered;
}
#nav h3{
    font-size: 2vw;
    margin-right: 40px;
     cursor: pointer;
      color: orangered;
}
#nav h3:hover{
     transform: translateY(-3px);
    text-shadow: 0 10px 20px rgba(255, 102, 0, 0.7);
    text-decoration: underline;
}
#icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    transition: all 0.3s ease;
    transform: scale(0.5);
}
#icon h4 i{

    font-size: 3vw;
    margin-left: 10px;
    cursor: pointer;
    gap: 50px;
    color: orangered;
}
#icon h4 i:hover{
     transform: translateY(-3px);
    text-shadow: 10px 30px 20px rgba(255, 102, 0, 0.7);
}
#content{
    height: 90%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#top-content{
     height: 80%;
    width: 50%;
    /* background-color: blue; */
    margin: 5% 5% 5% 5%;
}
#top-content h3{
    margin-top: 20%;
    font-size: 3.5vw;
     margin-left: 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
   color: orangered;
}
#top-content h1{
    font-size: 5.5vw;
     margin-left: 40px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
   color: orangered;
}
#top-content h1:hover{
     transform: translateY(-4px);
    text-shadow: 0 10px 20px rgba(163, 122, 95, 0.7);
    /* background: linear-gradient(135deg, #ff3300, #ff1100); */
}
#top-content h2{
    font-size: 3vw;
     margin-left: 40px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
   color: orangered;
}
#top-content h4{
    font-size: 2vw;
     margin-left: 40px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
   color: orangered;
}
#top-content button{
    padding: 12px 30px;
    background: linear-gradient(135deg, #ff5500, #ff3300);
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
    margin-left: 40px;
    margin-top: 20px;
}
#top-content button:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(255, 102, 0, 0.7);
    background: linear-gradient(135deg, #ff3300, #ff1100);
}

#top-image{
    height: 80%;
    width: 50%;
    /* background-color: burlywood; */
     margin: 5% 5% 5% 5%;
}
#top-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
}
#top-image img:hover{
    transform: scale(1.05);
     filter: brightness(1.2);
      border-radius: 20%;
       box-shadow: 0 0 20px rgba(255, 85, 0, 0.8);
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#page2-material{
    height: 90%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#heading h1{
    color: orangered;
    text-align: center;
    font-size: 4vw;
     transition: 0.3s ease;
     cursor: pointer;
      font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
     font-style:italic;
}
#heading h1:hover{
   letter-spacing: 3px;
    color: orangered;
     transform: scale(1.1);
}
#heading h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: orangered;
  transition: width 0.4s ease;
}

#heading h1:hover::after {
  width: 100%;
}
#page2-img{
    height: 70%;
    width: 40%;
    /* background-color: aquamarine; */
}
#page2-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in;
    margin-left: 20px;
}
#page2-img img:hover{
    transform: scale(1.05);
     filter: brightness(1.2);
       box-shadow: 0 0 20px rgba(255, 85, 0, 0.8);
}

#page2-content{
    height: 70%;
    width: 60%;
    /* background-color: rgb(6, 75, 52);*/
}
#page2-content h2{
    font-size: 4vw;
     margin-left: 80px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
   color: orangered;
   margin-top: 40px;
}
#page2-content p{
    font-size: 1.5vw;
    margin-top: 8px;
    margin-left: 80px;
    color: white;
}
#page2-content button{
    padding: 12px 30px;
    background: linear-gradient(135deg, #ff5500, #ff3300);
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
    margin-left: 80px;
    margin-top: 20px;
     transition: all 0.3s ease;
}
#page2-content button:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(255, 102, 0, 0.7);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page3-heading h1{
     color: orangered;
    text-align: center;
    font-size: 4vw;
     transition: 0.3s ease;
     cursor: pointer;
      font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
    font-weight:700;
     font-style:italic;
     transition: 0.3 s ease-in-out;
}
#page3-heading h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: orangered;
  transition: width 0.4s ease;
}

#page3-heading h1:hover{
     letter-spacing: 3px;
    color: orangered;
     transform: scale(1.1);
}
#page3-material{
     height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#page3 h1{
    color: #ff5500;
    font-size: 4vw;
    text-align: center;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
     font-style:italic;

}

#page3 h1:hover::after {
  width: 100%;
}
#page3-content{
    height: 100%;
    width: 45%;
    /* background-color: aqua; */
    margin: 10% 5% 5% 5%;
}
#page3-content h2{
    font-size: 2.5vw;
    margin-left: 20px;
    margin-top: 40px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
   color: orangered;
}
#page3-content p{
    font-size: 1.5vw;
    margin-left: 20px;
    margin-top: 10px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
   color: rgb(255, 255, 255);
}
#exp{
   height: 200px;
   width: 600px;
   /* background-color: blueviolet; */
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#num{
    height:180px ;
    width: 100px;
    /* background-color: burlywood; */
    margin-left: 30px;

}
#num h3{
    font-size: 10vw;
     font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
   color: rgba(255, 85, 0, 0.8);
}
#num-text{
     height:100px ;
    width: 150px;
    /* background-color: blue; */
    margin-right: 700px;
    margin-top: 40px;
}
#num-text h4{
    font-size: 2vw;
    font-optical-sizing: auto;
   font-weight:400;
   font-style: normal;
   color: rgba(255, 85, 0, 0.8);
}
#page3-skills{
    margin-top: 30px;
    height: 100%;
    width: 55%;
    /* background-color: aqua; */
     margin: 10% 5% 5% 5%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
}
#skill-1{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}
#skill-1:hover{
    transform: translateY(-4px);
    box-shadow:  0 10px 20px rgba(255, 102, 0, 0.7);
    cursor: pointer;
    filter: brightness(1.2);
}
#skill-content h1{
    font-size: 3vw;
    margin-top: 50px;
    color: #ff5500;
    margin-left:20px ;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
#skill-content h5{
     font-size: 4vw;
     color: azure;
     margin-left: 40px;
     margin-top: 10px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
#page4{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page4 h1{
    color: orangered;
    text-align: center;
    font-size: 4vw;
     transition: 0.3s ease;
     cursor: pointer;
      font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
     font-style:italic;
     transition: 0.3 s ease-in-out;
}
#page4 h1:hover{
   letter-spacing: 3px;
    color: orangered;
     transform: scale(1.1);
}
#page4 h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: orangered;
  transition: width 0.4s ease;
}

#page4 h1:hover::after {
  width: 100%;
}
/* #project{
    height: 80%;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#project1{
    height: 200px;
    width: 500px;
    background-color: blueviolet;
    border-radius: 20%;
} */
#page4{
    min-height: 100%;
    width: 100%;
    background-color: black;
    padding: 60px 5%;
}

 #project{
    height: calc(100% - 50px); /* heading space removed */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
}
.project-card{
    background: linear-gradient(135deg, #ff5500, #ff3300);
    border-radius: 20px;
    padding: 2px;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(255,85,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-right: 30px;
}
.project-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.project-card:hover{
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 25px 45px rgba(255, 85, 0, 0.6);
}
#page5{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page5 h1{
    font-size: 2vw;
     color: orangered;
    text-align: center;
    font-size: 4vw;
     transition: 0.3s ease;
     cursor: pointer;
      font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
     font-style:italic;
     transition: 0.3 s ease-in-out;
}
#page5 h1:hover{
   letter-spacing: 3px;
    color: orangered;
     transform: scale(1.1);
}
#page5 h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: orangered;
  transition: width 0.4s ease;
}

#page5 h1:hover::after {
  width: 100%;
}
.timeline-section{
  background:black;
  padding:60px 5%;
}

.timeline{
  position:relative;
  max-width:1000px;
  margin:auto;
}


.timeline::before{
  content:"";
  position:absolute;
  left:50%;
  top:0;
  width:4px;
  height:100%;
  background:#ff3300;
  transform:translateX(-50%);
}

.timeline-item{
  position:relative;
  width:50%;
  padding:20px 40px;
}

.timeline-item.left{
  left:0;
  text-align:right;
}

.timeline-item.right{
  left:50%;
}

.content{
  background:transparent;
}

.content h2{
  color:#ff3300;
  font-size:2.6vw;
  margin:8px 0;
}

.content p{
  font-size:2vw;
  color:white;
}

.step{
  font-size:1vw;
  letter-spacing:2px;
  color:#ff3300;
  font-weight:600;
}
.timeline-item .icon{
    color: azure;
    font-size: 1.6vw;
}
#page6{
  height: 190vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
#heading-6{
    /* background-color:white; */
    padding-top: 1100px;
}
#heading-6 h1{
    font-size: 4vw;
     color: orangered;
     text-align: center;
     transition: 0.3s ease;
     cursor: pointer;
    font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight:700;
     font-style:italic;
     transition: 0.3 s ease-in-out;
    
}
#page6 h1:hover{
   letter-spacing: 3px;
    color: orangered;
     transform: scale(1.1);
}
#page6 h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: orangered;
  transition: width 0.4s ease;
}

#page6 h1:hover::after {
  width: 100%;
}
#page6 h2{
    color: #ff5500;
    font-size: 2vw;
    text-align: center;
    margin-top: 40px;
}
#page6 button{
  padding: 12px 30px;
    background: linear-gradient(135deg, #ff5500, #ff3300);
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
    margin-left: 750px;
    margin-top: 20px;
     transition: all 0.3s ease;
}
#page6 button:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(255, 102, 0, 0.7);
}
#baseline-last{
    height: 10vh;
    width: 100%;
    background-color: #ff3300;
    margin-top: 70px;
}
#baseline-last h1{
    color: azure;
    font-size: 2vw;
    text-align: center;
}
#baseline-last h1:hover{
    color: beige;
    text-decoration: none;
}
